includes:
  - vendor/phpstan/phpstan-phpunit/extension.neon
  - vendor/phpstan/phpstan-phpunit/rules.neon
parameters:
    checkGenericClassInNonGenericObjectType: false
    checkMissingIterableValueType: false
    level: max
    paths:
        - src
        - tests
    excludes_analyse: # todo why all of these are failing?
        - src/File/LoggerFactory.php
        - src/Sentry/LoggerFactory.php
        - tests/unit/Monolog/Processor/NormalizationTest.php
