includes:
  - vendor/phpstan/phpstan-phpunit/extension.neon
  - vendor/phpstan/phpstan-phpunit/rules.neon
parameters:
    checkGenericClassInNonGenericObjectType: false
    checkMissingIterableValueType: false
    level: max
    paths:
        - src
        - tests
    excludes_analyse:
        - src/File/LoggerFactory.php
        - tests/unit/Monolog/Processor/NormalizationTest.php # todo why it's failing?
